/* http://www.w3schools.com/cssref/css_colorsfull.asp */

.video_link {
	fill: none;
	stroke: #C0C0C0;
	stroke-dasharray: 2 4;
	stroke-width: 3px;
}

.btn {
	min-width: 30px;
}

.svg {
	float: left;
/* 	margin-top: 200px;  */
}

.first-rows {
	margin-bottom: 15px;
	margin-top: 20px;
	text-align: center;
}

.graph_images {
	cursor: pointer;
}

.rect_video {
	fill: none;
	display: none;
	opacity: 0.5;
	stroke-width: 4;
}


.word_cloud {
	display: none;
	cursor: pointer;
	font-size: 13px;
	color: #707070;
}

.node text {
	pointer-events: none;
}

#graph_container .tab-content {
	overflow-x:hidden;
	overflow-y:auto;
}

rect.primary {
	fill: #0088cc;
}

rect.secondary {
	fill: grey;
}

.progress {
	margin:auto;
	width:20%;
}

.graph_container {
	position:relative;
	overflow:hidden;
}

.graph_container div.graph:after {
	content: "Explore similar Events";
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 10px 14px;
	font-size: 12px;
	font-weight: bold;
	background-color: #ffffff;
	border: 1px solid #DDD;
	color: #9DA0A4;
	border-radius: 4px 0px;
}

.graph_container .zoom span {
	border:1px solid #ddd;
	padding:10px;
	background-color:#ffffff;
	margin-left:10px;
	border-radius: 4px ;
}

.graph_container .graph_sidepane {
	position:absolute;
	top:60px;
	right:0;
	margin-right:20px;
}

.graph_container .filter-container {
	border:1px solid #ddd;
	padding:0;
	background-color:#ffffff;
	border-radius: 4px ;
	margin-right:0;
	text-transform:capitalize;
	float:right;
	width:250px;
}

.graph_container .filter-container .ingenious	{ background-image:url(../images/ingenious.png); }
.graph_container .filter-container .fascinating	{ background-image:url(../images/fascinating.png); }
.graph_container .filter-container .funny		{ background-image:url(../images/funny.png); }
.graph_container .filter-container .inspiring	{ background-image:url(../images/inspiring.png); }
.graph_container .filter-container .persuasive	{ background-image:url(../images/persuasive.png); }
.graph_container .filter-container .courageous	{ background-image:url(../images/courageous.png); }

.graph_container .filter-container p,
.graph_container .filter-container h5 {
	margin:10px 10px;
}

.graph_container .filter-container p>span {
	background-size: 16px 16px;
	background-repeat:no-repeat;
	width:16px;
	height:16px;
	display:block;
	float:left;
}

.graph_params {
	position:absolute;
	margin-bottom: 20px;
	background-color: #ffffff;
	border: 1px solid #E3E3E3;
	border-radius: 4px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset;
}

.graph_params .nav-header { margin-bottom:20px; padding-left:0; }
.graph_params .user_text { float:left; }
.graph_params .min-label { float:left;text-align:right;margin-right:3%;width:10%; }
.graph_params .user-value { float:left; width:65%; }
.graph_params .max-label { float:left;text-align:left;margin-left:3%;width:10%; }
.graph_params .control-group { margin-bottom:20px; clear:both; overflow:auto; }
.graph_params input[type=range] { width:100%; }
