/*.hyperevent-name, #transcript, #slides {
	padding-left:10px;
}*/

.hyperevent {
	margin-bottom: 20px;
}

.hyperevent-title, .hyperevent-metadata {
	font-size: 12px;
}

.hyperevent-big-title{
	font-size: 13px;
}


.snap {
	height: auto;
	max-width: 80%;
}

.provider {
	position: relative;
	font-size: 8px;
	bottom: 20px;
	left: 0px;
}

.provider-center {
	left: 5px;
	position: relative;
	bottom: 50px;
	z-index: 50;
}

#search_list {
}

.recording {
	height: 100px;
}

.snapshot, .duration {
	position: absolute;
	right: 3px;
	bottom: 5px;
	margin-bottom: 4px;
}

#toggle_transcript,  #toggle_slides, .img-polaroid, .hyperevent_link_to_page {
	cursor: pointer;
}

#related_talks .img-polaroid {
	float:left;
	margin-right:10px;
	width:50px;
}

#related_talks .img-polaroid, #related_talks .hyperevent-name {
	margin-bottom:10px;
}

/*.event-date, #toggle_transcript,  #toggle_slides  {
}*/

.error input[type=text]{
	border-color:#680000;
	color:#680000;
}

#blocOption {
	margin-left: 4px;
}

.form-horizontal .control-label {
	text-align: left;
}

#graph_params .nav-header { margin-bottom:20px; padding-left:0; }
#graph_params .user_text { float:left; }
#graph_params .min-label { float:left;text-align:right;width:20px; }
#graph_params .user-value { float:left;margin:0 10px; }
#graph_params .max-label { float:left;text-align:left;width:50px; }
