<script>
    $(document).ready(function(){
        var addHyperEventSelector = '#addHyperEventForm';
        initForm(addHyperEventSelector, function(){
            var value = getFormValue(addHyperEventSelector);
            $.ajax({
                dataType: 'json',
                type: "POST",
                url: "http://inevent.haifa.il.ibm.com/rest/archiving/newHyperEvent",
                contentType:"application/json; charset=utf-8",
                data: '{'
                      + '"type": "Lecture"'
                      + ',"name": "' + value.name + '"'
                      + ',"description": "' + value.description + '"'
                      + ',"date": "2012-12-12T12:12:12"'
                      + ',"tracks": []'
                      + ',"mediaProvider": {"id": 2}'
                      + '}',
                success: function(result) {
                    alert('OK');
                    console.log(result);
                    //alert('Error: ' + result['error'] + ". Content: " + result['content'] + ". Firstname: " + result['firstName']);
                }
            });
        });
    });
</script>

<div class="modal fade" id="addHyperEventForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Add new HyperEvent</h4>
				<h5 class='error'></h5>
			</div>
			<div class="modal-body">
				<form class="form addHyperEventForm">
					<div class="input-group formInput">
						<span class="input-group-addon requiredField">*</span>
						<input type="text" class="form-control" placeholder="Name" name="name" required>
						<span class="input-group-addon requiredField hidden"></span>
					</div>
					<div class="input-group formInput">
						<span class="input-group-addon requiredField">*</span>
						<input type="text" class="form-control" placeholder="Title" name="title" required>
						<span class="input-group-addon requiredField hidden"></span>
					</div>
					<div class="input-group formInput">
						<span class="input-group-addon requiredField">*</span>
						<input type="text" class="form-control" placeholder="Description" name="description" required>
						<span class="input-group-addon requiredField hidden"></span>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-primary submitBtn">Add</button>
			</div>
		</div>
	</div>
</div>
