{% extends "inevent/base.html" %}
{% load staticfiles %}

{% block content_inevent_page %}

	<div class="container-fluid">

		<div class="row-fluid">
			<h1>
			Your Events {% include "inevent/add_event.html" %}
			</h1>
		</div>

		<div class="row-fluid">
			<div class="span6">

				<ul>
					{% for hyperevent in hyperevent_ids %}
						<li> 
						#{{hyperevent.id}} - {{hyperevent.date}}:
							{% if hyperevent.title %}
								{{hyperevent.title}}
							{% else %}
								(no name)
							{% endif %}
							{% if hyperevent.slides and hyperevent.video_url %}
								<a href="{% url alignment_view hyperevent.id %}">align slides</a> - 
							{% endif %}
							<a href="{% url hyperevent_edit hyperevent.id %}">edit</a>
						</li>
					{% endfor %}
				</ul>

			</div>
		</div>

	</div>

{% endblock %}
