<div id="{{ div_id }}_form" style="display:none;">

	<div class="nav-header">Graph parameters</div>

	<form action="" class="form-horizontal" method="post" id="filterform">
		<!--
		<div class="control-group">
			<label class="control-label" for="buttonMotCles">Keywords</label>
			<div class="controls"> 
				<div class="btn-group" data-toggle="buttons-radio">
					<select class="input-medium" placeholder=".input-medium">
						<option>Titre</option>
						<option>Description</option>
						<option>Transcription</option>
						<option>Slide</option> 
						<option>Tous</option>
					</select>
				</div>
				<input class="input-small" placeholder=".input-small" value=" " id="prependedDropdownButton" type="text">
			</div>
		</div>
		-->

		<div class="control-group">
			<label class="control-label" for="fader">Graph size</label>
			<div class="controls">
				<input onchange="start_graph('{{ div_id }}')" class="user_size input-medium" placeholder=".input-medium" type="range" min="50" max="500" step="50" value="50" id="fader2" list="volsettings"> <span class="user_size_text">0</span></input>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="fader2">Depth</label>
			<div class="controls">
				<input onchange="start_graph('{{ div_id }}')" class="user_depth input-medium" placeholder=".input-medium" type="range" min="1" max="6" step="1" value="2" id="fader2" list="volsettings"> <span class="user_depth_text">0</span></input>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="fader2">Neighbours</label>
			<div class="controls">
				<input onchange="start_graph('{{ div_id }}')" class="user_neighbours input-medium" placeholder=".input-medium" type="range" min="1" step="1" max="10" value="2" id="fader2" list="volsettings"> <span class="user_neighbours_text">0</span></input>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="radioButtonType">Relation Type</label>
			<div class="controls">
				<div class="btn-group" data-toggle="buttons-checkbox">
					<button type="button" class="btn btn-small">Content</button>
					<button type="button" class="btn btn-small">Emotions</button>
					<!--<button type="button" class="btn btn-primary">Popularit&eacute;</button>-->
				</div>
			</div>
		</div>
		
		<!--
		<div class="control-group">
			<label class="control-label" for="sourceButton">Source</label>
			<div class="controls">
				<div class="btn-group" data-toggle="buttons-radio">
					<select class="input-medium" placeholder=".input-medium">
						<option>All</option>
						<option>Klewel</option>
						<option>Ted</option>
						<option>Radvision</option>
					</select>
				</div>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">Start Date</label>
			<div class="controls">
				<div class="input-append date" id="dp5" data-date-format="dd/mm/yyyy">
					<input class="input-small" placeholder=".input-small" name="start_date" style="cursor:pointer" value="dd/mm/yyyy" type="text"><span class="add-on"><i class="icon-th"></i></span>
				</div>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">End Date</label>
			<div class="controls">
				<div class="input-append date" id="dp6" data-date-format="dd/mm/yyyy">
					<input class="input-small" placeholder=".input-small" name="end_date" style="cursor:pointer" value="dd/mm/yyyy" type="text"><span class="add-on"><i class="icon-th"></i></span>
				</div>
			</div>
		</div>
		-->
	</form>
</div>
