{% if hyperevents %}
    <div class="row-fluid nav-header"> Related Talks:</div>
    {% for hyperevent in hyperevents %}
        {% if hyperevent.video_url %}
            <div class="row-fluid pull-left">
                <a href="{% url "get_hyperevent" hyperevent.id %}" rel="shadowbox;">
                    {% if hyperevent.snapshot_url %}
                        <img class="snap img-polaroid" src="{{ hyperevent.snapshot_url }}"/>
                    {% else %}
                        <img class="snap img-polaroid" src="{{ STATIC_URL }}klewelportal/images/not-available.jpg"/>
                    {% endif %}

                    <span class="hyperevent-name"> {{ hyperevent.title }} </span>
                </a>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}
