<form action="" method="get" class="navbar-search pull-left"  id="search_form">
	 <div class="input-prepend input-append">
			<div class="control-group" id='search_box' style="cursor:pointer">
				<div class="controls">
					<input class="controls span2 search-query" id="search_input" name="{{ search_form.q.name }}" type="text" placeholder='Search&hellip;'>
					<button class="btn" id="search_icon">
						<i class="icon-search"> </i>
					</button>
					<!-- Advanced Search Button-->				
		 			<button class="btn" data-target="#adv_search"  data-toggle="modal"> 
		 				<i class="icon-cog" data-original-title="Advanced Search"> </i>
		 			</button>
			
				</div>
	 		</div>	
 	</div>
 </form>

<script type="text/javascript">
	$('#search_input').bind('keypress',{ from: '{{ from }}', form: 'search_form' },  on_key_press);
	$('#search_input').bind('click', clear_search_box);
	$('#search_icon').bind('click', { from: '{{ from }}', form: 'search_form' }, on_click);
	$('.icon-cog').tooltip({ placement: "bottom"})		
</script>
