<!DOCTYPE html>
<meta charset="utf-8">
<head>
	<link rel="stylesheet" href="/static/inevent/styles/bootstrap.min.css" type="text/css" />
	<script src="/static/inevent/scripts/d3.v3.min.js"></script>
	<script src="/static/inevent/scripts/jquery.spin.js"></script>
	<script src="/static/inevent/scripts/bootstrap.min.js" type="text/javascript"></script>
	<script type="text/javascript" src='/static/inevent/scripts/graph_extension.js'></script>
	<script type="text/javascript" src='/static/inevent/scripts/flowplayer-3.2.12.min.js'></script>
	

</head>
<style>
	/* http://www.w3schools.com/cssref/css_colorsfull.asp */
	.video_link {
		fill: none;
		stroke: #C0C0C0;
		stroke-dasharray: 2 4;
		stroke-width: 3px;
	}

	.btn {
		min-width: 30px;
	}

	.aroles {
		color: #A0522D;
	}
	.bottomContent {
		color: #708090;
		background-color: #C0C0C0;
		font-size: 13px;
		cursor: pointer;
	}

	.segment_link {
		fill: none;
		stroke: #C0C0C0;
		stroke-width: 3px;
	}

	.marker {
		fill: White;
	}

	.svg {
		float: left;
	}

	.first-rows {
		margin-bottom: 15px;
		margin-top: 20px;
		text-align: center;
	}

	.node {
		cursor: pointer;
	}

	.slides {
		margin-left: -5px;
		width: 412px;
		height: 297px;
		border-style: solid;
		border-width: 1px;
		border-color: #6E6E6E;
		display: none;
	}

	.rect_video {
		fill: none;
		display: none;
		opacity: 0.5;
		stroke-width: 4;
	}

	.invisible_link, .invisible_node {
		fill: none;
		display: none;
	}

	.word_cloud {
		display: none;
		cursor: pointer;
		font-size: 13px;
		color: #707070;
	}

	.node text {
		pointer-events: none;
	}

	.for_all {
		width: 820px;
	}

	.video_position {
		float: left;
	}

</style>

<body class="for_all">
	<div class="row-fluid lead first-rows">
		<div style="text-align:center">
			Recommendation of Lectures and Snippets
		</div>
	</div>
	<div class="row-fluid first-rows">
		<div id='video_container' class="span8" style='width:820px; height: 300px; margin-left:20px'>
			<div id='video_player'>
				<div id='video_border'  class='cinema_always_lit v_video'>
					<div id="video_embed" style="text-align:left" class="flv cinema_always_lit video_position">
						This website uses SVG which is not supported by Internet Explorer 8 and older versions.
						<br/>
						Please ugrade your version of Explorer or use a different browser.
						<br/>
						To play the video, you might need to install some software. Please follow your browser instructions.
						<br/>
					</div>
				</div>
			</div>
			<img id='slide' class='slides'>
		</div>
	</div>
	

	<div class="row-fluid">
		<div class="first-rows" style="text-align:center;">
			{{ graph.nodes.0.title }}
			<button class="btn btn-small btn-info" style="float:right;margin:0px" onclick="toggle_all_links(this);" value="true" type="button">
				Show All Links
			</button>
		</div>
		<div style="height:350px; z-index:4000"  id="rec_graph"> </div>
	</div>

	<div class="bottomContent row-fluid" style="padding-left:15px">
		<div class="span12">
			<div class="row-fluid span3">
				<a class="bottomContent" href="http://www.klewel.com/"> Copyright © 2013<b> Klewel</b></a>
			</div>
			<div class="row-fluid span4">
				&nbsp; &nbsp; In collaboration with
				<a href="http://www.idiap.ch/"> <img style="width:25%" src="{{ STATIC_URL }}/acm/logo/idiap_logo.png"> </img></a>
			</div>
			<div class="row-fluid span5">
				Supported by the
				<div  style="display:inline">
					<a class="aroles" href="http://www.im2.ch/"> IM2</a>
				</div>
				SNSF project &nbsp;
				<a href="http://www.im2.ch/"> <img style="width:15%" src="{{ STATIC_URL }}/acm/logo/im2_logo.png"></img></a
			</div>
		</div>
	</div>
	
	<script>

		var points;

		var show_all_mode = false;

		var seekpos = {{ start_time|safe }};

		var vslides;

		var margin = {top: 0, right: 10, bottom: 10, left: 10};
		var width = 820;
		var height = 350;
		var graph_width = width - margin.left - margin.right;
		var graph_height = height - margin.top - margin.bottom;
		// svg_width = width - padding.left - padding.right,
		// svg_height = height - padding.top - padding.bottom;

		var center_x = 0; //middle of central image size?
		var center_y = 0; //middle of image size?
		//var radius = 200;
		var small_radius = 30;

		input_nodes = {{ graph.nodes|safe }}

		points = Array(input_nodes.length)

		for (var i=0;i<points.length;i++)
		{
		points[i]={x:0, y:0};
		}

		var video_nodes = Array();
		var video_index = 0;

		for(var i=0; i<input_nodes.length; i++){

		if (input_nodes[i].children!=undefined){
		set_segments_location(center_x, center_y, input_nodes[i].radius, input_nodes[i].children)
		video_nodes[video_index] = input_nodes[i]
		video_index = video_index + 1

		}

		}

		input_links = {{ graph.links|safe }}

		d3.selection.prototype.moveToFront = function(redraw_parent) {
		if (redraw_parent == true)
		return this.each(function(){
		this.parentNode.parentNode.appendChild(this.parentNode);
		});
		else
		return this.each(function(){
		this.parentNode.appendChild(this);
		});

		};

		var color = d3.scale.category10();

		input_links.forEach(function(d, i) {
		d.direction = "OUT";

		});

		input_nodes.forEach(function(d, i) {
		if (d.children!=undefined){
		d.color = "#909090";
		}
		else
		{
		if (d.group == 4)
		d.color = color(i);

		else
		d.color = "#909090";
		}

		});

		var force = d3.layout.force()
		.charge(-5000)
		.gravity(0)
		.linkDistance(400)

		var svg = d3.select("#rec_graph").append("svg")
		.attr("width", width)
		.attr("height", height)
		.attr("id", "main");

		force
		.nodes(input_nodes)
		.links(input_links)
		.size([graph_width,graph_height])
		.on("tick", tick)
		.start();

		var node = svg.selectAll(".node")
		.data(input_nodes)
		.enter().append("g")
		.attr("id", function(d) {return "node"+d.id})
		.attr("name", function(d) {return d.name})
		.attr("class",function(d) {if (d.group == 1 || d.group==2) return "node video_node"; if (d.group == 3 || d.group == 4) return "segment_node" })
		// .attr("fixed", function(d) { if (d.group == 1) return "true"; else return "false";})
		//.attr("fixed", function(d) { return "true";})
		.attr("x", function(d) { return get_location(d)[0];})
		.attr("y", function(d) { return get_location(d)[1];})
		.on("mouseover", function(d) {d3.event.stopPropagation(); show_links(d); d3.event.preventDefault();})
		.on("click", function(d) {d3.event.stopPropagation(); mouseover(d);})
		.on("mouseout", function(d) {d3.event.stopPropagation(); hide_links(d); d3.event.preventDefault();})

		.call(force.drag);

		var circle =  svg.selectAll(".circle")
		.data(input_nodes)
		.enter().append("circle")
		.attr("id", function(d) { return "circle"+d.id})
		.attr("x", function(d) { return get_location(d)[0] + d.size;})
		.attr("y", function(d) { return get_location(d)[1] + d.size;})
		// Node radius
		.attr("r", function(d) { return d.size; })
		//.attr("class",function(d) { if (d.group==1 || d.group==2) return "circle_video"; else return "circle_segment"; })
		.style("fill","none") // Make the nodes hollow looking
		.style("stroke-width",4) // Give the node strokes some thickness
		//.style("stroke", "black") // Node stroke colors
		//.call(force.drag);
		.style("stroke",function(d) { if (d.group==1 || d.group==2) return d.color; else return "none"})

		defs = node.append("defs")
		defs.append("rect")
		.attr("id", function(d) { return "rect_node"+d.id})
		.style("stroke-width",4)
		.style("fill","none") // Make the nodes hollow looking
		//  .style("display", function(d,i) { if (d.group==1 || d.group==2) return "none"})
		//  7/8 and 7/4 is based on 2r-2r' (big diameter - small one) and considering that the current image height is half its width and the
		// ratio of the r' to r as it was chosen
		// .attr("class",function(d) { if (d.group==1 || d.group==2) return "rect_video"; else return "rect_segment"; })
		.attr("height", function(d) { return d.image_height})
		.attr("width", function(d) { return d.image_width})
		.style("stroke", function(d) { return d.color})
		.attr('x', function(d) { return - d.image_width/2})
		.attr("rx", "5")
		.attr('y', function(d) { return -d.image_height/2});

		defs.append("svg:clipPath")
		.attr("id", function(d) { return "clip"+d.id})
		.append("use")
		.attr("xlink:href", function(d) { return "#rect_node"+d.id});

		node.append("use")
		.attr("xlink:href", function(d) { return "#rect_node"+d.id})
		//  .attr("stroke", "black")
		//   .attr("stroke-width", "1")

		node.append("image")
		.attr("id", function(d) { return "image"+d.id})
		.attr("xlink:href", function(d) { return {{ STATIC_URL  }} + d.snapshot })
		.attr("height", function(d) { return d.image_height})
		.attr("width", function(d) { return d.image_width})
		.attr("class","node")
		.attr('x', function(d) { return -d.image_width/2})
		.attr('y', function(d) { return -d.image_height/2})

		.attr("clip-path", function(d) { return "url(#"+"clip"+d.id +")"});

		var  rect = node.append("rect")
		.attr("id", function(d) { return "rect"+d.id})
		.attr("class",  function(d) { return "word_cloud"+ " " + "word_cloud_"+d.id})
		.attr("height", function(d) { return d.cloud_height + 100})
		.attr("width", function(d) { return d.cloud_width + 3})
		.style("stroke", function(d) { return d.color})
		.style("fill","white") // Make the nodes hollow looking
		.style("stroke-width", 2) // Give the node strokes some thickness
		//   .on("click", function(d) { mouseout(d)})
		.attr('x', function(d) { return -d.cloud_width/2 - 1;})
		.attr('y', function(d) { return -d.cloud_height/2 - 1;})

		.attr('rx', 5)
		.attr('ry', 5);

		defs.append("rect")
		.attr("id", function(d) { return "rect_image"+d.id})
		.attr("class",  function(d) { return "word_cloud"+ " " + "word_cloud_"+d.id})
		.style("stroke-width",1)
		.style("fill","none") // Make the nodes hollow looking
		.attr("height", function(d) { return d.cloud_height - 20})
		.attr("width", function(d) { return d.cloud_width - 30})
		.style("stroke", function(d) { return d.color})
		.attr("rx", "5")
		.attr('x', function(d) { return -d.cloud_width/2 + 13;})
		.attr('y', function(d) { return  -d.cloud_height/2 + 69.5;});

		defs.append("svg:clipPath")
		.attr("id", function(d) { return "clip_zoom"+d.id})
		.append("use")
		.attr("xlink:href", function(d) { return "#rect_image"+d.id});

		node.append("use")
		.attr("xlink:href", function(d) { return "#rect_image"+d.id})

		node.append("image")
		.attr("id", function(d) { return "cloud"+d.id})
		.attr("class",  function(d) { return "word_cloud"+ " " + "word_cloud_"+d.id})
		.attr("xlink:href", function(d) { return {{ STATIC_URL  }} + d.snapshot})
		.attr('x', function(d) { return -d.cloud_width/2 + 13;})
		.attr('y', function(d) { return  -d.cloud_height/2 + 68;})

		.on("click", function(d) {d3.event.stopPropagation();switch_snapshot(d)})
		.attr("title", "Click for word cloud")
		.attr("height", function(d) { return d.cloud_height - 16 })
		.attr("width", function(d) { return d.cloud_width - 26})

		.attr("clip-path", function(d) { return "url(#"+"clip_zoom"+d.id +")"});

		browser = window.navigator.userAgent.toLowerCase();
		version = window.navigator.appVersion;

		if ( (browser.indexOf("firefox")>-1) || ( (browser.indexOf("safari")>-1) && version>6))

		{//explorer does not support the use of foreign objects in SVG

		node.append('svg:foreignObject')
		.attr("id", function(d) { return "centralize"+d.id})
		.attr("class",  function(d) { return "word_cloud"+ " " + "word_cloud_"+d.id})
		.attr("height", 30)
		.attr("width", 80)
		.attr("color","#707070")
		.attr("requiredExtensions","http://www.w3.org/1999/xhtml")

		//.attr('x', function(d) { return d.cloud_width/2 - 100;})
		.attr('x', function(d) { return -d.cloud_width/2 + 15;})
		.attr('y', function(d) { return d.cloud_height/2 + 65;})
		.on("click", function(d) { d3.event.stopPropagation(); if (d.group == 2 || d.group == 3) setCenter(d); else playVideo(d);})
		.append("xhtml:body")
		.attr("xmlns","http://www.w3.org/1999/xhtml")
		// .html('<button class="btn" style="margin-left:1px" value="btn btn-primary" type="button"> <i class="icon-check"></i> Center </button> ');
		.html('<button class="btn btn-small" value="btn" type="button"> <i class="icon-play"></i> Play</button> ');
		//.html('<button class="btn btn-small" value="btn" type="button">Play</button> ');

		node.append('svg:foreignObject')
		.attr("id", function(d) { return "close"+d.id})
		.attr("class",  function(d) { return "word_cloud"+ " " + "word_cloud_"+d.id})
		.attr("height", 30)
		.attr("width", 80)
		.attr("requiredExtensions","http://www.w3.org/1999/xhtml")
		.attr('x', function(d) { return d.cloud_width/2 - 86;})
		.attr('y', function(d) { return d.cloud_height/2 + 65;})
		.on("click", function(d) {d3.event.stopPropagation(); mouseout(d, "word_cloud_"+d.id); return false})
		.append("xhtml:body")
		.attr("xmlns","http://www.w3.org/1999/xhtml")
		.html('<button class="btn btn-small" value="btn" type="button" ><b>[x]</b> Close</button>');

		}

		else {

		node.append('image')
		.attr("id", function(d) { return "centralize"+d.id})
		.attr("class",  function(d) { return "word_cloud"+ " " + "word_cloud_"+d.id})
		.attr("height", 33)
		.attr("width",69)
		.attr('x', function(d) { return -d.cloud_width/2 + 20;})
		.attr('y', function(d) { return d.cloud_height/2 + 60;})
		.on("click", function(d) { d3.event.stopPropagation(); if (d.group == 2 || d.group == 3) setCenter(d); else playVideo(d);})
		.attr("xlink:href", function(d) { return {{ STATIC_URL  }} +  "inevent/images/play_button.png"});

		node.append('image')
		.attr("id", function(d) { return "close"+d.id})
		.attr("class",  function(d) { return "word_cloud"+ " " + "word_cloud_"+d.id})
		.attr("height", 33)
		.attr("width", 79)
		.attr('x', function(d) { return d.cloud_width/2 - 93;})
		.attr('y', function(d) { return d.cloud_height/2 + 60;})
		.on("click", function(d) {d3.event.stopPropagation(); mouseout(d, "word_cloud_"+d.id); return false})
		.attr("xlink:href", function(d) { return {{ STATIC_URL  }} +  "inevent/images/close_button.png"});

		}

		node_text = node.append('text')
		.attr("id", function(d) { return "video_title"+d.id})
		.attr("height", 60)
		.attr("class",  function(d) { return "word_cloud"+ " " + "word_cloud_"+d.id})
		.attr("fill","#707070")
		.attr("width", function(d) { return d.cloud_width -10 })
		.attr('x', function(d) { return -d.cloud_width/2 + 12;})
		.attr('y', function(d) { return - d.cloud_height/2 + 5; })
		.text("")
		var link = svg.append("svg:g").selectAll(".link")
		.data(input_links)
		.enter().append("line")
		.attr("class", function(d) { return "link link"+d.source.id + " " + "link"+d.target.id})
		.attr("display", "none")
		.style("fill","none")
		.style("stroke-width",3) // Give the node strokes some thickness
		//.style("stroke", "black") // Node stroke colors
		//.call(force.drag);
		.style("stroke",function(d) { return d.source.color;})
		.style("stroke-dasharray", function(d) { if (d.group==2) return "none"; else return ("2 4"); })
		//.attr("marker-end", "url(#end)")

		.attr("x1", function(d) { return d.source.x})
		.attr("y1", function(d) { return d.source.y})
		.attr("x2", function(d) { return d.target.x})
		.attr("y2", function(d) { return d.target.y; });

		svg.selectAll(".video_node").moveToFront(false)
		svg.selectAll(".segment_node").moveToFront(false)
		svg.selectAll(".point").moveToFront(false)

		function show_links(d) {
		$(".link"+d.id).toggle(true);

		}

		function hide_links(d) {
		if (show_all_mode == false)
		$(".link"+d.id).toggle(false);
		}

		function toggle_all_links(button) {
		if (button.value == "true")
		{
		boo = true;
		button.value = "false";
		show_all_mode = true;
		button.innerHTML = "Hide All Links";

		}

		else
		{
		boo = false;
		show_all_mode = false;
		button.value = "true";
		button.innerHTML = "Show All Links";
		}

		for(var i=0; i<input_nodes.length; i++){
		$(".link"+input_nodes[i].id).toggle(boo);
		}

		}

		function playVideo(d) {

		var slide_start_time = 0;
		var slide_id = 0;

		if (d.url == undefined){
		if (d.parent != undefined)
		{
		var current_url = clip.url
		clip.url = input_nodes[d.parent].url;
		if (clip.url != current_url) // segment of a new video
		{
		loadslides(input_nodes[d.parent].slides)
		seekpos = d.start_time;
		$f(0).play(clip);
		}

		else{ // segment of existing video
		playerSeek(d.start_time);
		}

		if (vslides.length>0)
		slide_id = findSlide(vslides, d.start_time)

		}
		else //should not happen:  segment with no url and no parent
		alert('Sorry video url is missing');
		}
		else{ //new video
		clip.url = d.url;
		$f(0).play(clip);
		loadslides(input_nodes[d.id].slides);
		}

		if (vslides!=undefined && vslides.length>0){
		$("#slide").toggle(true);
		slideChange(vslides[slide_id].image_path);
		}

		else
		{

		$("#slide").toggle(false);//hide slides
		//  $("#sync_list").toggle(false);//hide table when no slides
		}
		}
		function setCenter(d) {
		if (d.name.indexOf("video")!=-1)
		document.location.href=document.location.href.split("graph")[0] + "graph/" + d.name.substring(5);
		else

		document.location.href=document.location.href.split("graph")[0] + "graph/" + input_nodes[d.parent].name.substring(5) + "/seek/" + (d.id - d.parent);

		}

		function switch_snapshot(d) {
		static_url = {{ STATIC_URL }}

		current_image = $("#cloud" + d.id).attr("href")
		if (current_image.indexOf("cloud")!=-1) {
		$("#cloud" + d.id).attr("href", static_url + d.snapshot);
		}

		else {
		$("#cloud" + d.id).attr("href", static_url + d.word_cloud);

		}

		}

		function mouseover(d) {
		zoom_in(d,"node"+d.id,"rect"+d.id,0,graph_width,450,700,"word_cloud_"+d.id);
		if (d.group == 1 || d.group == 2) {
		display_title(d.title, "video_title"+d.id);
		}
		else {
		var node = d3.select("#video_title"+d.id)
		node.text("");
		duration = Math.ceil(d.duration * 100)/100;
		node.append("tspan").text("Segment " + (d.id - d.parent)).attr("x", $("#video_title"+d.id).attr("x")).attr("dy","15");
		node.append("tspan").text("Start time: " + secondsToTime(d.start_time)).attr("x", $("#video_title"+d.id).attr("x")).attr("dy","15");
		node.append("tspan").text("Duration: " + duration  + " ms").attr("x", $("#video_title"+d.id).attr("x")).attr("dy","15");
		}

		}

		function tick() {
		// node.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });

		node.attr("transform", function(d) {
		//TODO move these constants to the header section
		//center the center (root) node when graph is cooling down

		d.x = get_location(d)[0];
		d.y = get_location(d)[1];
		//    t_x = d.x + margin.left
		//   t_y = d.y + margin.top
		return "translate("+ d.x + ","+ d.y +")";
		}
		);

		circle.attr("transform", function(d) {
		//TODO move these constants to the header section
		//center the center (root) node when graph is cooling down

		d.x = get_location(d)[0];
		d.y = get_location(d)[1];

		// t_x = d.x + margin.left
		//   t_y = d.y + margin.top
		return "translate("+ d.x + ","+ d.y +")";
		}
		);

		link.attr("x1", function(d) { return d.source.x})
		.attr("y1", function(d) { return d.source.y; })
		.attr("x2", function(d) { return d.target.x})
		.attr("y2", function(d) { return d.target.y; });

		}

		//taken from www.lextalkington.com/blog/2009/12/generate-points-around-a-circles-circumference/
		function set_segments_location(centerx, centery, circleradius, segments, startangle, arc, pointdirection) {
		startangle = startangle || 180;
		arc = arc || 360;
		var pointDirectionClockwise = "clockwise";
		var pointDirectionAntiClockwise = "antiClockwise";

		pointdirection = pointdirection || pointDirectionClockwise;

		// var pts = [];
		var diameter = circleradius*2;

		var mpi = Math.PI/180;
		var startRadians = startangle * mpi;

		totalpoints = segments.length

		var incrementAngle = arc/totalpoints;
		var incrementRadians = incrementAngle * mpi;

		// http://www.teacherschoice.com.au/maths_library/angles/angles.htm
		id = 0

		//while(id < segments.length) {
		while(totalpoints-- > 0) {
		//span = segments[id].duration/input_nodes[segments[id].parent].duration

		//var incrementAngle = arc*span;
		//var incrementRadians = incrementAngle * mpi;

		var xp = centerx +   Math.sin(startRadians) * circleradius;
		var yp = centery +  Math.cos(startRadians) * circleradius;
		points[segments[id].id] = {x:xp, y:yp};
		//        alert("changing "+ segments[id].id )

		if(pointdirection==pointDirectionAntiClockwise) {
		startRadians += incrementRadians ;
		} else {
		startRadians -= incrementRadians ;
		}
		id = id + 1
		}

		//  return pts;

		}

		function get_location(d){

		if (d.group == 3 || d.group==4) // special treatment for segments nodes - later identify using group
		{
		x = points[d.id].x + points[d.parent].x
		y = points[d.id].y + points[d.parent].y
		}
		else
		{
		if (d.group == 1) //start with central node fixed in the middle
		//if you want to make the central node movable add this condition to that it only starts at a specific position but can move afterwards:
		{

		x = width/2;
		y = height/2;
		}
		else
		{
		//x = d.x
		//y = d.y

		x = Math.max(d.radius + d.size, Math.min(width - d.radius - d.size , d.x));
		y = Math.max(d.radius + d.size, Math.min(height - d.radius - d.size, d.y));
		}

		points[d.id].x = x;
		points[d.id].y = y;
		}

		return [x,y];
		}

		// PLAYER

		var fpconfig = {
		click_to_pause: false,
		builtin_scrubbar: '', // ''/false, 'autohide', 'always'
		flowplayer_swf: "http://staticcdn.viidea.com/player/lib/flowplayer.unlimited-3.2.7.swf",
		//flowplayer_swf: "lib/flowplayer.unlimited-3.2.7.swf",
		//flowplayer_swf: "lib/flowplayer.commercial-3.2.5.swf",
		//flowplayer_swf: "lib/flowplayer-xfscommand.3.2.5-dev.swf",
		flowplayer_controls: "flowplayer.controls-3.2.3.swf",
		flowplayer_captions: "flowplayer.captions-3.2.3.swf",
		flowplayer_audio: "flowplayer.audio-3.2.2.swf",
		flowplayer_rtmp: "flowplayer.rtmp-3.2.3.swf",
		flowplayer_bwcheck: "flowplayer.bwcheck-3.2.5.swf",
		flowplayer_smil: "flowplayer.smil-3.2.2.swf",
		flowplayer_swf_wrapper: "flowplayer.swfwrap.swf",
		//flowplayer_multibuffering: "flowplayer.multibuffering.swf",
		flowplayer_pseudostreaming: "flowplayer.pseudostreaming-3.2.7.swf",
		flowplayer_content: "flowplayer.content-3.2.0.swf",
		//  flowplayer_imgcontent: "http://media.videolectures.net/rel.1366116870//flowplayer/imgContent-3.2.5.swf",
		//flash_version_required: [10,103],
		// flash_express_install: "http://media.videolectures.net/rel.1366116870//flowplayer/expressinstall.swf"
		};
		function getkeys() {
		keys = [
		'$#0bb40c8f9eed17e2e03',
		'$#bf85021a20c2a048c2b',
		'$#195f66f940e11167951',
		'$#b8a3dfe42289b462f5b',
		'$#c5bc3105f4b2017b938'
		]
		if (fpconfig.flowplayer_key) keys.push(config.flowplayer_key);
		return keys;
		};
		var clip;
		var attributes = {
		id: "FlvPlayer"
		};
		var plugins = {
		controls: {
		url: fpconfig.flowplayer_controls,
		autoHide: "fullscreen",
		style: {
		zIndex:1
		}
		}
		};
		var params = {
		// debug: true,
		// log: {level:'info'},
		// onError: function(code, msg) {alert('flowplayer error\n'+code+'\n'+msg);},

		clip: {bufferLength: '5', scaling:'fit',

		onSeek: function (e,time) {

		if (vslides!=undefined && vslides.length>0){

		slide_id = findSlide(vslides, time);
		slideChange(vslides[slide_id].image_path);
		}
		},

		onStart: function () {
		//careful not to reset seekpos here, because onStart is fired twice sometimes before loading.
		if (seekpos) {
		this.seek(seekpos);
		}
		if (slide_start_times!=undefined  && slide_start_times.length>1){
		this.onCuepoint(slide_start_times, function(clip, point) {

		new_id = slide_start_times.indexOf(point)
		slideChange(vslides[new_id].image_path);
		})

		}

		}
		},
		keys: getkeys(),
		plugins:plugins
		};

		clip = {autoPlay:true};
		playlist = [];
		static_url = {{ STATIC_URL }}
		url_snapshot = static_url + input_nodes[0]['snapshot']
		playlist.push({url: url_snapshot, scaling:'scale'});

		playlist.push(clip);

		params.playlist = playlist;

		plugins.rtmp = { url: fpconfig.flowplayer_rtmp };
		clip.url = input_nodes[0]['url']
		clip.netConnectionUrl = "rtmp://oxy.videolectures.net/video";
		clip.provider = 'rtmp';

		var flash_config = {
		src: fpconfig.flowplayer_swf,
		width: 400,
		height: 300,
		allowscriptaccess: 'always',
		allowfullscreen: 'true',
		wmode: 'window',
		expressInstall: fpconfig.flash_express_install,
		id: "FlvPlayer" // last line, no colon ',' !
		};

		plugins.controls.autoHide="always";

		function onError(code, message) {
		//alert('Error \n'+ code + '\n'+message+'\n'+this.getClip().url + '\n' + playlist[0].url);
		if (code==303 && this.getClip().url == playlist[0].url) {
		// poster image doesn't exist: swap playlist items
		playlist[1] = playlist[0];
		playlist[0] = clip;
		this.play(playlist);
		}
		}
		params.onError = onError;

		function installFlowPlayer() {
		document.getElementById("video_embed").innerHTML = '';
		thePlayer = flowplayer(document.getElementById("video_embed"), flash_config, params);
		$('#player_notice').html("");

		}

		//   getScriptIf(typeof(flowplayer)==='undefined','http://media.videolectures.net/rel.1366116870//flowplayer/flowplayer.js',installFlowPlayer);
		function playerSeek(time) {

		thePlayer.seek(time);

		}
		function playerTell() { return thePlayer.getTime()*1000.0; }

		var slide_start_times = new Array();

		function loadslides(new_slides) {
		vslides = new_slides;

		for(var i=0; i<vslides.length; i++){
		slide_start_times[i] = parseInt(vslides[i].slide_start_time * 1000);

		}

		}

		function slideChange(image_path) {
		try {

		$("#slide").prop("src",static_url + image_path)

		}

		catch (e) {alert(e);}
		}

		function clickChooseSlide(time,image_path) {
		hoverTime = 0;
		lasttime = -1;
		try { playerSeek(time);} catch (e) {alert(e);}
		slideChange(image_path);
		return false;
		}

		function findSlide(vslides, time) {
		if(time==0 || vslides.length == 0){
		return 0;
		}
		var i = vslides.length - 1
		while(i>0 && vslides[i].slide_start_time > time)
		{
		i = i-1;
		}
		return i;
		}

		function findSlide2(vslides,start_time){
		for(var i=0; i<vslides.length; i++){
		if (start_time <= vslides[i].slide_start_time)
		return i-1;
		}
		return vslides.length - 1

		}

		function secondsToTime(seconds){
		var hours = Math.floor(seconds / (60 * 60));
		var left_over = seconds % (60 * 60);
		var minutes = Math.floor(left_over / 60);
		var left_over = left_over % 60;
		var seconds = Math.ceil(left_over);
		if (hours < 10) hours = "0" + hours;
		if (minutes <10) minutes = "0" + minutes;
		if (seconds <10) seconds = "0" + seconds;

		return hours + ":" + minutes + ":" + seconds;
		}

		$(document).ready(function() {
		installFlowPlayer();
		loadslides(input_nodes[0].slides);
		if (vslides!=undefined && vslides.length>0){
		$("#slide").toggle(true)
		slide_id = findSlide(vslides, seekpos)

		slideChange(vslides[slide_id].image_path)

		}
		else {
		$("#video_embed").css({"margin-left":'190px'});
		}

		});

	</script>

</body>

